# unifi controller service
# https://community.ui.com/releases/UniFi-Network-Application-7-2-92/f1903cbc-4daa-4695-ac8c-7324bcff529a
# make symlink to /lib/systemd/system/unifi.service
# sudo systemctl enable unifi.service
# sudo systemctl start unifi.service
# sudo systemctl status unifi.service

[Unit]
Description=openhab service
After=After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/mnt/raid/unifi
ExecStart=/usr/bin/docker-compose -f /mnt/raid/unifi/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /mnt/raid/unifi/docker-compose.yml down
#StandardInput=tty-force
#StandardOutput=file:/var/log/unifi.log
#StandardError=file:/var/log/unifi.log
#Restart=always

[Install]
WantedBy=multi-user.target
